@media screen and (max-width: 1170px) {
  body .main-nav {
    font-size: 0.8rem;
  }
  body .main-nav-border {
    padding: 0.75rem;
    margin-left: 60%;
  }
}
@media screen and (max-width: 992px) {
  body .main-body-home {
    padding-left: 10rem;
    padding-right: 6rem;
  }
  body .main-nav-border {
    margin-left: 50%;
  }
  body .main-nav {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  body .main-body-home {
    padding-left: 6rem;
    padding-right: 2rem;
  }
  body .main-nav {
    font-size: 0.8rem;
  }
  body .main-nav-border {
    margin-left: 20%;
  }
}
@media screen and (max-width: 576px) {
  body .main-body-home {
    padding-left: 5rem;
    padding-right: 1rem;
  }
  body .text-largest {
    font-size: 2rem;
  }
  body .main-nav {
    font-size: 0.7rem;
    gap: 0;
  }
  body .flex-container {
    flex-direction: column;
  }
  body .main-nav-border {
    margin-left: 0%;
  }
}
/* Image Hover on main page and projects page*/
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
  cursor: pointer;
  border-radius: 0.25rem;
}
.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  border-radius: 0.25rem;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.6s;
}
.hover-1 .hover-overlay {
  width: 95%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.6s;
}
.hover-1:hover .hover-overlay {
  width: 100%;
  opacity: 0;
}
.hover-1:hover .hover-1-content {
  width: 100%;
  left: 0;
  bottom: 2rem;
  background: rgba(0, 0, 0, 0.8);
}
.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}
.hover-1:hover img {
  left: 0;
}

.hover-1-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -5%;
  z-index: 99;
  transition: all 0.6s;
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Global animations*/
.animated-button-purple a {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--purple-accent);
  border: 0.3rem var(--purple-accent) solid;
  position: relative;
  transition: all 0.35s;
}
.animated-button-purple a span {
  position: relative;
  z-index: 2;
}
.animated-button-purple a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--purple-accent);
  transition: all 0.35s;
}
.animated-button-purple a:hover {
  color: #fff;
}
.animated-button-purple a:hover:after {
  width: 100%;
}

.animated-button-orange a {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--orange-accent);
  border: 0.3rem var(--orange-accent) solid;
  position: relative;
  transition: all 0.35s;
}
.animated-button-orange a span {
  position: relative;
  z-index: 2;
}
.animated-button-orange a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--orange-accent);
  transition: all 0.35s;
}
.animated-button-orange a:hover {
  color: #fff;
}
.animated-button-orange a:hover:after {
  width: 100%;
}

.social-icon-animate ul {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
}
.social-icon-animate ul li {
  list-style: none;
}
.social-icon-animate ul li a {
  display: block;
  position: relative;
  width: 4rem;
  height: 100%;
  line-height: 4rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: lightgray;
  margin: 0;
  transition: 0.5s;
}
.social-icon-animate ul li a span {
  position: absolute;
  transition: transform 0.5s;
}
.social-icon-animate ul li a span:nth-child(1) {
  width: 100%;
  height: 3px;
  opacity: 0;
  background: lightgray;
  top: 0;
  left: 0;
  transform-origin: right;
}
.social-icon-animate ul li a span:nth-child(3) {
  width: 100%;
  height: 3px;
  opacity: 0;
  background: lightgray;
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.social-icon-animate ul li a span:nth-child(2) {
  width: 3px;
  height: 100%;
  background: #404040;
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
.social-icon-animate ul li a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: #404040;
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.social-icon-animate ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.social-icon-animate ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.social-icon-animate ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}
.social-icon-animate ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.social-icon-animate ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
.social-icon-animate ul li a:hover:nth-child(4) {
  color: #dd4b39;
}
.social-icon-animate ul li a .twitter {
  color: #1da1f2;
}
.social-icon-animate .github:hover {
  color: #6e5494;
}
.social-icon-animate .github:hover span {
  background: #6e5494;
}
.social-icon-animate .linkedIn:hover {
  color: #0a66c2;
}
.social-icon-animate .linkedIn:hover span {
  background: #0a66c2;
}
.social-icon-animate .instagram:hover {
  color: #6e5494;
}
.social-icon-animate .instagram:hover span {
  background: #6e5494;
}
.social-icon-animate .google:hover {
  color: var(--orange-accent);
}
.social-icon-animate .google:hover span {
  background: var(--orange-accent);
}

.navigation-animate ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}
.navigation-animate ul li {
  list-style: none;
}
.navigation-animate ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  color: lightgray;
  margin: 0 1rem;
  transition: 0.5s;
}
.navigation-animate ul li a span {
  position: absolute;
  transition: transform 0.5s;
}
.navigation-animate ul li a span:nth-child(1) {
  width: 100%;
  height: 3px;
  background: var(--orange-accent);
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: right;
}
.navigation-animate ul li a span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: var(--purple-accent);
  bottom: 0;
  left: 0;
  transform: scale(0);
  transform-origin: left;
}
.navigation-animate ul li a span:nth-child(2) {
  width: 3px;
  height: 100%;
  background: var(--purple-accent);
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
.navigation-animate ul li a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: var(--purple-accent);
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.navigation-animate ul li a:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.5s;
}
.navigation-animate ul li a:hover span:nth-child(3) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
  background: var(--purple-accent);
}
.navigation-animate ul li a:hover span:nth-child(2) {
  transform: scale(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.navigation-animate ul li a:hover span:nth-child(4) {
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.navigation-animate ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
.navigation-animate ul li a:hover:nth-child(4) {
  color: #dd4b39;
}
.navigation-animate ul li a .twitter {
  color: #1da1f2;
}
.navigation-animate .orange:hover {
  color: var(--orange-accent);
}
.navigation-animate .orange:hover span {
  background: var(--orange-accent);
}

.navigation-animate2 ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}
.navigation-animate2 ul li {
  list-style: none;
}
.navigation-animate2 ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  color: lightgray;
  margin: 0;
  transition: 0.5s;
}
.navigation-animate2 ul li a span {
  position: absolute;
  transition: transform 0.5s;
}
.navigation-animate2 ul li a span:nth-child(1) {
  width: 100%;
  height: 3px;
  background: var(--purple-accent);
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: right;
}
.navigation-animate2 ul li a span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: var(--purple-accent);
  bottom: 0;
  left: 0;
  transform: scale(0);
  transform-origin: top;
}
.navigation-animate2 ul li a span:nth-child(2) {
  width: 3px;
  height: 100%;
  background: var(--purple-accent);
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: left;
}
.navigation-animate2 ul li a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: var(--purple-accent);
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.navigation-animate2 ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.navigation-animate2 ul li a:hover span:nth-child(3) {
  transform: scaleX(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.navigation-animate2 ul li a:hover span:nth-child(2) {
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.navigation-animate2 ul li a:hover span:nth-child(4) {
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.navigation-animate2 ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
.navigation-animate2 ul li a:hover:nth-child(4) {
  color: #dd4b39;
}
.navigation-animate2 ul li a .twitter {
  color: #1da1f2;
}
.navigation-animate2 .orange:hover {
  color: var(--orange-accent);
}
.navigation-animate2 .orange:hover span {
  background: var(--orange-accent);
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  z-index: 9999;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-110%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

/* Flexbox */
.flex-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 4rem;
}
.flex-container img {
  max-width: 40vw;
}
.flex-container div {
  padding-left: 2rem;
}
.flex-container h1 {
  font-size: 3rem;
}

.flex-item {
  flex: 1;
  flex-shrink: 0;
}
.flex-item h4 {
  margin-top: 0;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.no-wrap {
  flex-wrap: nowrap;
}

.standard-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-flex-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.no-gap {
  gap: 0;
}

.space-evenly {
  justify-content: space-evenly;
}

.no-grow {
  flex-grow: 0;
  flex-basis: content;
}

/* Borders */
.top-border {
  position: relative;
  border-right: 0.5rem var(--orange-accent) solid;
  border-top: 0.5rem var(--orange-accent) solid;
  border-bottom: 0.5rem var(--purple-accent) solid;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin-right: 70%;
  border-radius: 0 2rem 2rem 0;
}

.render-border {
  position: relative;
  border-left: 0.5rem var(--orange-accent) solid;
  border-top: 0.5rem var(--orange-accent) solid;
  border-bottom: 0.5rem var(--purple-accent) solid;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-right: 10%;
  border-radius: 2rem 0rem 0rem 2rem;
}

.main-nav-border {
  position: relative;
  border-left: 0.5rem var(--orange-accent) solid;
  border-top: 0.5rem var(--orange-accent) solid;
  border-bottom: 0.5rem var(--purple-accent) solid;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 2rem;
  margin-right: 0%;
  margin-left: 65%;
  border-radius: 2rem 0rem 0rem 2rem;
}

.left-border {
  position: relative;
  border-left: 0.5rem var(--purple-accent) solid;
  padding-left: 1rem;
}

.left-border-alternate {
  position: relative;
  border-left: 0.5rem var(--orange-accent) solid;
  padding-left: 1rem;
}

.vertical-border {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 0.1rem;
  padding-left: 0rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: var(--orange-accent);
}

.vertical-border-alt {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 0.1rem;
  padding-left: 0rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: var(--purple-accent);
}

/* Spacing */
.left-padding {
  padding-left: 1rem;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding-left: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5rem;
}

.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-auto {
  margin: auto;
}

.width-50 {
  width: 50%;
}

/* Bootstrap style container */
/* Native Elements */
/* Custom Classes */
:root {
  --bg-color: rgb(22,25,31);
  --nav-color: rgb(15, 17, 22);
  --white-accent: rgb(200,200,200);
  --orange-accent: rgb(241, 137, 5);
  --purple-accent: rgb(100,100,255);
}

body {
  position: relative;
  background-color: var(--bg-color);
  padding-bottom: 4rem;
}

a {
  color: lightgray;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
a:hover {
  color: var(--orange-accent);
}
a:focus {
  color: var(--orange-accent);
}

p {
  margin-bottom: 1.25rem;
  max-width: 70vh;
}

code {
  background-color: var(--nav-color);
  filter: drop-shadow(0 0 0.4rem var(--purple-accent));
  padding: 0.5rem;
  display: block;
  width: 90%;
  margin-bottom: 1.5rem;
}

section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

input {
  accent-color: var(--orange-accent);
}

input[type=text] {
  background-color: rgb(54, 62, 99);
  color: white;
  width: 80%;
  height: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  font-family: "Poppins", sans-serif;
  color: lightgray;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
footer a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
footer h4 {
  font-weight: 200;
  margin-bottom: 0;
}

.main-nav {
  position: relative;
  z-index: 9999;
  overflow: hidden;
  gap: 1.5rem;
  display: flex;
  font-family: "Mulish";
}
.main-nav a {
  text-shadow: none;
}

.main-nav-link {
  transition: opacity 0.5s ease;
}

.sidebar {
  height: 100%;
  width: 12rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 40vh;
  padding-left: 1rem;
  font-family: "Mulish", Arial, sans-serif;
}
.sidebar a {
  display: block;
  border-radius: 1rem 0 0 1rem;
  filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0));
}

.sidebar-sg {
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--nav-color);
  overflow-x: hidden;
  filter: drop-shadow(0 0 0.4rem black);
  padding-top: 10rem;
  padding-left: 1rem;
  font-family: "Mulish", Arial, sans-serif;
}
.sidebar-sg a {
  padding: 6px 8px 6px 16px;
  display: block;
  border-radius: 1rem 0 0 1rem;
  filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0));
}

.nav-example {
  font-family: "Mulish", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-body {
  font-family: "Mulish", sans-serif;
  color: lightgray;
  margin-top: 7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 5rem;
}
.main-body img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-body-sg {
  font-family: "Mulish", sans-serif;
  color: lightgray;
  margin-top: 7rem;
  padding-left: 14rem;
  padding-right: 5rem;
}

.main-body-home {
  font-family: "Mulish", sans-serif;
  color: lightgray;
  margin-top: 7rem;
  padding-left: 14rem;
  padding-right: 10rem;
  margin-bottom: 5rem;
}

.main-title {
  margin-bottom: 4rem;
}

.color-box {
  height: 2rem;
  width: 35rem;
}

.button-orange {
  display: inline-block;
  padding: 0.5rem;
  font-family: "Poppins";
  color: black;
  background-color: var(--orange-accent);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8%;
  cursor: pointer;
  border: 0;
}
.button-orange:hover {
  background-color: rgba(241, 137, 5, 0.5);
  border: 0;
}
.button-orange:active {
  background-color: rgba(241, 137, 5, 0.5);
  border: 0;
}
.button-orange:focus {
  background-color: rgba(241, 137, 5, 0.5);
  border: 0;
}

.button-purple {
  display: inline-block;
  padding: 0.5rem;
  font-family: "Poppins";
  color: var(--purple-accent);
  background-color: var(--purple-accent);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8%;
  cursor: pointer;
  border: 0;
}
.button-purple:hover {
  background-color: rgba(100, 100, 255, 0.5);
  border: 0;
}
.button-purple:active {
  background-color: rgba(100, 100, 255, 0.5);
  border: 0;
}
.button-purple:focus {
  background-color: rgba(100, 100, 255, 0.5);
  border: 0;
}

.button-outline-purple {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Poppins";
  color: var(--purple-accent);
  background-color: transparent;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8%;
  border: 0.3rem var(--purple-accent) solid;
  cursor: pointer;
  animation: translateRight 0.3 linear;
  animation-timing-function: ease;
}
.button-outline-purple:hover {
  color: white;
  background-color: var(--purple-accent);
  transition: color 0.5s;
  animation: translateRight 0.3 linear;
  animation-timing-function: ease-in;
}
.button-outline-purple:focus {
  color: white;
  background-color: var(--purple-accent);
  transition: color 0.5s;
}

.button-outline-orange {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Poppins";
  color: var(--orange-accent);
  background-color: transparent;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8%;
  border: 0.3rem var(--orange-accent) solid;
  cursor: pointer;
}
.button-outline-orange:hover {
  color: white;
  background-color: var(--orange-accent);
  transition: color 0.5s;
}
.button-outline-orange:focus {
  color: white;
  background-color: var(--orange-accent);
  transition: color 0.5s;
}

.text-largest {
  font-size: 4rem;
}

.text-med {
  font-size: 2rem;
}

.text-orange {
  color: var(--orange-accent);
}

.text-purple {
  color: var(--purple-accent);
}