/* Image Hover on main page and projects page*/

.hover {
	overflow: hidden;
	position: relative;
	padding-bottom: 60%;
	cursor: pointer;
	border-radius: 0.25rem;
	img {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s;
		border-radius: 0.25rem;
	}
}
.hover-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	transition: all 0.4s;
}
.hover-content {
	position: relative;
	z-index: 99;
}

.hover-1 {
	img {
		width: 105%;
		position: absolute;
		top: 0;
		left: -5%;
		transition: all 0.6s;
	}
	.hover-overlay {
		width: 95%;
		position: absolute;
		background: rgba(0, 0, 0, 0.6);
		transition: all 0.6s;
	}
	&:hover {
		.hover-overlay {
			width: 100%;
			opacity: 0;
		}
		.hover-1-content {
			width: 100%;
			left: 0;
			bottom: 2rem;
			background: rgba(0, 0, 0, 0.8);
		}
		.hover-1-description {
			opacity: 1;
			transform: none;
		}
		img {
			left: 0;
		}
	}
}
.hover-1-content {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: -5%;
	z-index: 99;
	transition: all 0.6s;
}
.hover-1-description {
	transform: translateY(0.5rem);
	transition: all 0.4s;
	opacity: 0;
}

.hover-padding{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
}


/* Global animations*/ 

.animated-button-purple{
	a{
		display: block;

		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;

		font-family: 'Poppins', sans-serif;
		text-decoration: none;
		color: var(--purple-accent);
		border: 0.3rem var(--purple-accent) solid;
		position: relative;
		transition: all .35s;
	}

	a span{
		position: relative;
		z-index: 2;
	}

	a:after{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: var(--purple-accent);
		transition: all .35s;
	}

	a:hover{
		color: #fff;
	}

	a:hover:after{
		width: 100%;
	}
}

.animated-button-orange{
	a{
		display: block;

		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;

		font-family: 'Poppins', sans-serif;
		text-decoration: none;
		color: var(--orange-accent);
		border: 0.3rem var(--orange-accent) solid;
		position: relative;
		transition: all .35s;
	}

	a span{
		position: relative;
		z-index: 2;
	}

	a:after{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: var(--orange-accent);
		transition: all .35s;
	}

	a:hover{
		color: #fff;
	}

	a:hover:after{
		width: 100%;
	}
}

// Social icons

.social-icon-animate{
	ul {
		position: absolute;
		margin: 0;
		padding: 0;
		display: flex;
		li {
			list-style: none;
			a {
				display: block;
				position: relative;
				width: 4rem;
				height: 100%;
				line-height: 4rem;
				font-size: 1rem; 
				text-align: center;
				text-decoration: none;
				color: lightgray;
				margin: 0;
				transition: .5s;
				span {
					position: absolute;
					transition: transform .5s;
					&:nth-child(1) {
						width: 100%;
						height: 3px; 
						opacity: 0;
						background: lightgray; 
						top: 0;
						left: 0;
						transform-origin: right;
					}
					&:nth-child(3) {
						width: 100%;
						height: 3px;
						opacity: 0;
						background: lightgray;
						bottom: 0;
						left: 0;
						transform-origin: left;
					}
					&:nth-child(2) {
						width: 3px;
						height: 100%;
						background: #404040;
						top: 0;
						left: 0;
						transform: scale(0);
						transform-origin: bottom;
					}
					&:nth-child(4) {
						width: 3px;
						height: 100%;
						background: #404040;
						top: 0;
						right: 0;
						transform: scale(0);
						transform-origin: top;
					}
				}
				&:hover {
					span {
						&:nth-child(1) {
							transform: scaleX(0);
							transform: opacity(1);
							transform-origin: left;
							transition: transform .5s;
						}
						&:nth-child(3) {
							transform: scaleX(0);
							transform-origin: right;
							transition: transform .5s;
						}
						&:nth-child(2) {
							transform: scale(1);
							transform-origin: top;
							transition: transform .5s;
						}
						&:nth-child(4) {
							transform: scale(1);
							transform-origin: bottom;
							transition: transform .5s;
						}
					}
					&:nth-child(3) {
						color: #c32aa3;
					}
					&:nth-child(4) {
						color: #dd4b39;
					}
				}
				.twitter {
					color: #1da1f2;
				}
			}
		}
	}
	.github {
		&:hover {
			color: #6e5494;
			span {
				background: #6e5494;
			}
		}
	}
	.linkedIn {
		&:hover {
			color: #0a66c2;
			span {
				background: #0a66c2;
			}
		}
	}
	.instagram {
		&:hover {
			color: #6e5494;
			span {
				background: #6e5494;
			}
		}
	}
	.google {
		&:hover {
			color: var(--orange-accent);
			span {
				background: var(--orange-accent);
			}
		}
	}
}

.navigation-animate{
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		display: flex;
		li {
			list-style: none;
			a {
				display: block;
				position: relative;
				width: 100%;
				height: 100%;
				line-height: 3rem;  
				text-align: center;
				text-decoration: none;
				color: lightgray;
				margin: 0 1rem;
				transition: .5s;
				span {
					position: absolute;
					transition: transform .5s;
					&:nth-child(1) {
						width: 100%;
						height: 3px;
						background: var(--purple-accent);
						top: 0;
						left: 0;
						transform: scale(0);
						transform-origin: right;
					}
					&:nth-child(3) {
						width: 100%;
						height: 3px;
						background: var(--purple-accent);
						bottom: 0;
						left: 0;
						transform: scale(0);
						transform-origin: left;
					}
					&:nth-child(2) {
						width: 3px;
						height: 100%;
						background: var(--purple-accent);
						top: 0;
						left: 0;
						transform: scale(0);
						transform-origin: bottom;
					}
					&:nth-child(4) {
						width: 3px;
						height: 100%;
						background: var(--purple-accent);
						top: 0;
						right: 0;
						transform: scale(0);
						transform-origin: top;
					}
				}
				&:hover {
					span {
						&:nth-child(1) {
							transform: scaleX(1);
							transform-origin: right;
							transition: transform .5s;
						}
						&:nth-child(3) {
							transform: scaleX(1);
							transform-origin: left;
							transition: transform .5s;
						}
						&:nth-child(2) {
							transform: scale(0);
							transform-origin: top;
							transition: transform .5s;
						}
						&:nth-child(4) {
							transform: scale(0);
							transform-origin: bottom;
							transition: transform .5s;
						}
					}
					&:nth-child(3) {
						color: #c32aa3;
					}
					&:nth-child(4) {
						color: #dd4b39;
					}
				}
				.twitter {
					color: #1da1f2;
				}
			}
		}
	}
	.orange{
		&:hover {
			color: var(--orange-accent);
			span {
				background: var(--orange-accent);
			}
		}
	}
}

.navigation-animate2{
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		display: flex;
		li {
			list-style: none;
			a {
				display: block;
				position: relative;
				width: 100%;
				height: 100%;
				line-height: 3rem;  
				text-align: center;
				text-decoration: none;
				color: lightgray;
				margin: 0;
				transition: .5s;
				span {
					position: absolute;
					transition: transform .5s;
					&:nth-child(1) {
						width: 100%;
						height: 3px;
						background: var(--purple-accent);
						top: 0;
						left: 0;
						transform: scale(0);
						transform-origin: right;
					}
					&:nth-child(3) {
						width: 100%;
						height: 3px;
						background: var(--purple-accent);
						bottom: 0;
						left: 0;
						transform: scale(0);
						transform-origin: top;
					}
					&:nth-child(2) {
						width: 3px;
						height: 100%;
						background: var(--purple-accent);
						top: 0;
						left: 0;
						transform: scale(0);
						transform-origin: left;
					}
					&:nth-child(4) {
						width: 3px;
						height: 100%;
						background: var(--purple-accent);
						top: 0;
						right: 0;
						transform: scale(0);
						transform-origin: top;
					}
				}
				&:hover {
					span {
						&:nth-child(1) {
							transform: scaleX(0);
							transform-origin: right;
							transition: transform .5s;
						}
						&:nth-child(3) {
							transform: scaleX(1);
							transform-origin: bottom;
							transition: transform .5s;
						}
						&:nth-child(2) {
							transform: scale(0);
							transform-origin: bottom;
							transition: transform .5s;
						}
						&:nth-child(4) {
							transform: scale(0);
							transform-origin: bottom;
							transition: transform .5s;
						}
					}
					&:nth-child(3) {
						color: #c32aa3;
					}
					&:nth-child(4) {
						color: #dd4b39;
					}
				}
				.twitter {
					color: #1da1f2;
				}
			}
		}
	}
	.orange{
		&:hover {
			color: var(--orange-accent);
			span {
				background: var(--orange-accent);
			}
		}
	}
}

//Hamburger for smaller windows

  
  .menuItem {
	display: block;
	margin: 2rem 4rem;
	font-size: 1.8rem;
	color: white;
	text-decoration: none;
  }
  
  .menuItem:hover {
	text-decoration: underline;
  }
  
  .hamburger {
	// position: fixed;
	z-index: 9999;
	// top: 1rem;
	// right: 1rem;
	// padding: 4px;
	// border: black solid 1px;
	background: white;
	cursor: pointer;
  }
  
  .closeIcon {
	display: none;
  }
  
  .menu {
	position: fixed;
	transform: translateY(-110%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: black;
	color: white;
	list-style: none;
	padding-top: 4rem;
  }
  
  .showMenu {
	transform: translateY(0);
  }